<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>hello!<br>
안녕하세요! index페이지 입니다</p>

<a th:href="@{/auth}">auth</a><br>
<a th:href="@{/auth/getAllInfo}">test:getAllPswd</a><br>
<a th:href="@{/diary}">myDiary</a>



<!--
<form th:action="@{/update/{id}(id=${pswdEntity.id})}" th:object="${pswdEntity}" method="post">
    <input type="text" th:field="*{id}">
    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
    <button type="submit">submit</button>
</form>
-->
</body>
</html>