<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>hello!<br>
안녕하세요! index페이지 입니다</p>

<h3>비밀번호 입력</h3>
<form th:action="@{/createNew}" th:object="${pswdEntity}" method="post">
    <input type="text" th:field="*{pswd}" placeholder="test1234@#" th:errorclass="fieldError">
    <button type="submit">submit</button>
</form>
<!--
<form th:action="@{/find/{id}(id=${pswdEntity.id})}" th:object="${pswdEntity}" method="post">
    <input type="text" th:field="*{id}">
    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
    <button type="submit">submit</button>
</form>
-->
</body>
</html>