<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>posts</title>
</head>
<script src="./js/posts.js"></script>
<body>

<a th:href="@{/diary/timeline/{pswd_id}(pswd_id=${postEntity.pswd_id})}">timeLinePost</a>


<p>
    1. 수정한 날짜, 일기 날짜, 포스트 업로드 날자 구분<br>
    2. 날짜 선택 - 달력<br>
    3. 시간 자동 입력<br>
    4. 시간, 날짜 같이 묶어도 될듯.<br>
    5. UUID로 변경 <br>

    ****
    프론트에서 다이어리 포스트를 뿌려주는 태그 만들어줘야 수정 만들 수 있음.
    타임라인 게시물 불러오기 -> 뿌리기 -> 수정버튼(id값) -> 수정화면: 해당 id의 postEntity 정보 수정화면
    -> 정보 수정 완료버튼 클릭 -> id값과 pswd_id값 동일, postEntity controller에 전달.

    post title 만들어야됨.

    class diagram, er diagram.. 구조짜기..
</p>
<form th:action="@{/diary/addPost}" th:object="${postEntity}" method="post">
    <input type="hidden" th:field="*{pswd_id}" th:value="${postEntity.pswd_id}">
    <input type="text" th:field="*{diary_title}" placeholder="my diary">
    <input type="text" th:field="*{post_date}" placeholder="2023-02-14">
    <select th:field="*{feelings}">
        <option th:value=5 seleceted>좋음</option>
        <option th:value=3>보통</option>
        <option th:value=1>분노</option>
        <option th:value=1>슬픔</option>
    </select>
    <input type="text" th:field="*{post_comment}" placeholder="날씨가 흐리다.">
    <input type="text" th:field="*{loc_pic}" placeholder="C:/picture/test/pic.png">
    <button type="submit">submit</button>
</form>




<div id="postForm"></div>
</body>
</html>